* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://i.pinimg.com/564x/c3/ab/b1/c3abb12b8756161b4eed85219d819e2b.jpg);
    color: #a33b4b;
}

.navbar-logo {
    color: #a33b4b;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Abril Fatface', cursive;
    padding: 0 40px;
    line-height: 80px;
}

.links-navbar {
    height: 100%;
    text-decoration: none;
}

.links-navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.links-navbar li {
    list-style: none;
}

.links-navbar li a {
    text-decoration: none;
    padding: 16px;
    display: block;
    color: #5b0a24;
    font-family: 'Viga', sans-serif;
}

.links-navbar li:hover {
    background-color: #fcb1b1;
}

.toggle-button{
    font-weight: bold;
    line-height: 100px;
    color: #8d1b1f;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 auto 0 auto;
    line-height: 0;
    cursor: pointer;
    display: none;
}


@media (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 5px 50px 5px 50px;
        display: block;
    }
    
    .navbar-logo {
        text-align: center;
        justify-content: center;
        font-weight: bold;
        font-size: 55px;
        font-family: 'Abril Fatface', cursive;
        padding: 0 auto 0 auto;
    }

    .toggle-button {
        text-align: center;
        justify-content: center;
        padding: 0 auto 0 auto;
        display: block;
    }

    .links-navbar {
        display: none;
        width: 100%;
    }

    .links-navbar ul {
        width: 100%;
        flex-direction: column;
    }

    .links-navbar li {
        text-align: center;
    }

    .links-navbar ul li a {
        padding: .5rem 1rem;
    }

    .links-navbar.active {
        display: flex;
    }
}
